@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body{
	margin:0;
	font-family:'Poppins', sans-serif;
}

#logo{
    width:300px;
    height:78px;
    margin: 10px auto 10px auto;
}

.banner{
	background-image: url("images/banner.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	background-position:center;
	width:100%;
	height:400px;
	}
.banner-box{
	padding-top:100px;
	padding-left:50px;
}

.Button{
	background-color:#FFCD3D;
	width:150px;
	padding:10px 0 10px 0;
	font-weight:700;
	font-size:20px
	
}
.bannerTitle1{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color:white;
	text-align:left;
	font-size:35px;
}

.sponsors{
	font-family:'Poppins', sans-serif;
	font-weight:700;
	font-size:1em;
	padding: 2em 0;
	height:10em;
}

#col1{
	font-family:'Poppins', sans-serif;
	text-align:right;
	padding-top:1.5em;
}

.clear{
	clear:both;
}
.description{
	font-family:'Poppins', sans-serif;
	height:10em;
}
.Leftcol{
	text-align:right;
	float:left;
	display:inline-block;
	padding-right:20px;
	padding-top:3em;
}
.separatorLeft{
	border-left-width:thick;
	border-left-style:solid;
	border-left-color:black;
	padding:30px;
	
}

.infographic{
	
	background-image: url("images/golfInfographic.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	background-position:center;
	width:100%;
	height:400px;
}

.infoTitle{
	font-family:'Poppins', sans-serif;
	text-align:center;
	padding:20px 0;
}

.Button2{

	background-color:#FFCD3D;
	width:150px;
	padding:10px 0 10px 0;
	font-weight:700;
	font-size:20px;
	margin:0 auto;
	
}

.section1{
	font-family:'Poppins', sans-serif;
	background-image:url("images/golf-banner.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	background-position:center;
	width:100%;
	height:250px;
	margin: 30px 0;
}

.bannerTitle2{
	padding:40px 10px 20px 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color:white;
	text-align:right;
	font-size:35px;
}

.section2{
	font-family: 'Poppins', sans-serif;
	margin:20px;
}

.topRightCol{
	padding:50px;
	margin:20px 0 50px -150px;
	background-color:#EBEBF5;
}

.bottomRightCol{
	background-color:#EBEBF5;
	padding:50px;
}
.products{
	font-family: 'Poppins', sans-serif;
	padding:20px;
	text-align:center;
}

.products img{
	padding-bottom:10px;
}

.ProdTitle{
	font-family: 'Poppins', sans-serif;
	text-align:center;
	padding:20px 0;
}

.testimonials{
	padding-top:5em;
	font-family:'Poppins', sans-serif;
	height:15em;
}
.Leftcol{
	text-align:right;
	float:left;
	display:inline-block;
	padding-right:20px;
	padding-top:3em;
}
.separatorLeft{
	border-left-width:thick;
	border-left-style:solid;
	border-left-color:black;
	padding-left:3em;
	
}